/* decaler vers la droite notre liste de menu (page acceuil)*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


.navmodif{
	padding-left: 500px;
}
.modifbutnav{
	background: darkgreen;
	font-style: bold; 
	color: white;
}

.modiftextheader
{
	font-size: 3em;
	float: left;

}
.blocde3colonne{
	display: block;
	border: 1px solid white;
	text-align: left;

}
.espacement{
	padding-top: 7%;
	padding-right: 5%;
	padding-left: 5%;
	margin-left: 0%;
}

.espacement1{
	padding-top: 7%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 4%;
	margin-top: 4%;
	margin-right: 2%;
	margin-left: 2%;
}
.espacement12{
	padding-top: 2%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	margin-top: 2%;
	margin-right: 2%;
	margin-left: 2%;
}
.ecartement{
	margin-left: 5%;
}

.alaligne{
	word-wrap: break-word;
	font-family: tahoma;
}
.image1{
	border-radius: 10px 10px 10px 10px;
	width: 100%;
	height: 50%;
}
.image3{
	border-radius: 10px 10px 10px 10px;
	width: 5%;
	height: 45%;
}
.image2{
	border-radius: 10px 10px 10px 10px;
	width: 100%;
	height: 100%;
}
.textecolorwitheandgras{
	color: white;
	font-size: bold;
	font-family: tahoma;

}
.section3{
	background-image: url("../images/3.jpg");
	width: 100%;
	filter: brightness(65%);
}


.modifparasection4{
	height: 50%;
	width: 100%;
	padding-top: 19%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 19%;
	background-color: rgb(196, 193, 193);
}
.collesection4{
	margin-left: 0%;
}
.espacement2{
	padding-top: 7%;
	padding-right: 5%;
	padding-left: 5%;

}

.row1 {
  --bs-gutter-x: 1.25rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.section5{
	width: 100%;
	background-image: url("../images/4.jpg");
	margin-left: 0%;
	margin-right: 0%;
	filter: brightness(65%);
}

.stylesection5{
	border-radius: 10px 10px 10px 10px;
	background-color: white;

}
.arcphoto{
	border-radius: 100px 100px 100px 100px;
	border: 2px solid green; 
	height: 70px;
	width: 70px;
	margin-left: 7%;
}
.margeparap{
	padding-top: 7%;
	padding-right: 6%;
	padding-left: 6%;
}
.espace{
	margin-left: 1%;
	margin-right: 1%;
}

.espacement3{
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	margin-top: 5%;
	margin-right: -10%;
}
.col-4modif {
  flex: 0 0 auto;
  width: 32%;
}
.nompersonne{
	border: 100px solid black;
	width: 20%;
	float: right;
}
.petiteimg{
	height: 30px;
	width: 30px;
}
.bordurepetitimg{
	border-radius: 5px 5px 5px 5px;
	border:1px solid rgb(226, 221, 221);
}

.col-6modif {
  flex: 0 0 auto;
  width: 45%;
}

/*Pour mon footer*/

.textecolorblackandgras{
	color: black;
	font-size: bold;
	font-family: tahoma;
}
.image4{
	border-radius: 9px 9px 9px 9px;
	width: 100px;
	height: 100px;
	border: 1px solid black;

}
.lien{
	text-decoration: none;
	font-style: bold;
}
.copyright{
	color: white;
	text-align: center;
}

.piedennoir{
	background-color: rgb(44, 42, 42);
}
.bordure{
	border-color: rgb(44, 42, 42);
}
.couleurblanche{
	color: white;
}

.textcentreetblanc{
	color: white;
	text-align: center;
	background-color: rgb(240, 162, 17);
}

.boutonenvoie{
	background-color: rgb(240, 162, 17);
	float: right;
}
.espacementV{
	margin-bottom: 5%;
}

.espaceVide{
	width: 100%;
	background-color: rgb(240, 162, 17); 
}

.textagauchenoir{
	color: black;
	background-color: rgb(199, 192, 192);
}
.stylesectionservice{
	border-radius: 10px 10px 10px 10px;
}


.paragapclass{
	background-color: rgb(226, 221, 221);
	text-align: left;
	padding-top: 7%;
	padding-right: 6%;
	padding-left: 6%;
	margin-top: 6%;
	padding-bottom: 6%;
	opacity: 0.7;
	margin-bottom: 6%;
}

.imageclass1{
	background-image: url("../images/5.jpg");
	border-radius: 10px 10px 10px 10px;
	border:1px solid white;
	width: 30%;
	height: 100%;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 2.5%;
	margin-right: 2%;
}

.imageclass2{
	background-image: url("../images/6.jpg");
	border-radius: 10px 10px 10px 10px;
	border:1px solid white;
	width: 30%;
	height: 100%;
	margin: 1%;
	margin-top: 5%;

}

.imageclass3{
	background-image: url("../images/7.jpg");
	border-radius: 10px 10px 10px 10px;
	border:1px solid white;
	width: 30%;
	height: 100%;
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 2%;
}

.imageclass4{
	background-image: url("../images/8.jpg");
	border-radius: 10px 10px 10px 10px;
	border:1px solid white;
	width: 30%;
	height: 100%;
	margin-left: 5%;
	margin-bottom: 5%;
	margin-right: 2%;
}

.imageclass5{
	background-image: url("../images/9.jpg");
	border-radius: 10px 10px 10px 10px;
	border:1px solid white;
	width: 30%;
	height: 100%;
	margin-bottom: 5%;
	margin-right: 2.5%;
	margin-left: 1%;
}

.imageclass6{
	background-image: url("../images/10.jpg");
	border-radius: 10px 10px 10px 10px;
	border:1px solid white;
	width: 30%;
	height: 100%;
	margin-top: 0%;
	margin-bottom: 5%;
}
.espacement4{
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	margin-top: 5%;
	margin-right: 5%;
}

.col-4modif1 {
  flex: 0 0 auto;
  width: 28%;
}
.row-cols-md-3Modif > *{
   flex: 0 0 auto;
    width: 29%;
}

.modifcard1{
	margin-left: 4%;
	margin-bottom: 5%;
}

.modifcard2{
	margin-left: 2%;
	margin-bottom: 5%;
	margin-right: 2%;
}

.modifcard3{
	margin-right: 5%;
	margin-bottom: 5%;
}
/* modification des cartes de about*/
.cart1{
	margin-left: 0%;
	margin-bottom: 5%;
}
.cart2{
	margin-left: 0%;
	margin-bottom: 5%;
}

.cart3{
	margin-left: 0%;
	margin-bottom: 5%;
}
.cart4{
	margin-left: 0%;
	margin-bottom: 5%;
	margin-right: 0%;
}
.header{
	background-image: url("../images/2.jpg");
	width: 100%;
	height: 60%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	filter: brightness(90%);
	color: black;
	color: black;
	color: black;
	color: black;
	color: black;

}

.paragraphaeder{
	margin-top: 2%;
	margin-left: 10%;
	margin-bottom: 2%;
	border-left: 3px solid rgb(240, 162, 17);
	height: 5%;
	width: 50%;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 0.5%;
	color: white;

}

.paragraphaeder1{
	margin-top: 1%;
	margin-left: 9%;
	margin-bottom: 2%;
	height: 5%;
	width: 15%;
	padding-left: 1%;
	padding-bottom: 1%;
}

.espacesouligne{
	text-underline-position: under;
}


.textecolorwhiteandgras1{
	color: white;
	font-size: bold;
	font-family: tahoma;
	text-align: center;
}

.liena{
	color: green;
	text-align: center;
}

.offset-1Modif{
	margin-right: 8%;
	margin-left: 8%;
	border: 1px solid black;
	width: 50%;

}
.modifbutnavC{
	background-color: rgb(3, 196, 3);
	font-style: bold; 
	color: white;
}
.modificationHaider{
	margin-left: -5%;
	margin-bottom: 10%;
	padding-left: 5%;
	border: 0px solid rgba(0,0,0, .25);
	text-align: left;
	width: 50%;
	word-wrap: break-word;
}

.assombririmage{
filter: brightness(50%);
}
.eclairsir{
	filter: brightness(100%);
}

